<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PI_Entrega.Properties.Settings.db_conexaoConnectionString"
            connectionString="Data Source=NITRO\MSSQLSERVER01;Initial Catalog=db_conexao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>